div {
    margin: 10px auto;
    text-align: center;
}
#indicator {
    width: 100x;
    border-color: black;
}
textarea {
    outline: none;
    color: white;
    border: none;
    resize: none;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: beige;
    padding-left: 10px;
    font-size: 14px;
}